* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

html {
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-size: 16px;
	/*line-height: 1;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#onLoad {
	transition: background-color 100ms linear;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	background-image: url("lg.circle-slack-loading-icon.gif");
	background-repeat: no-repeat;
  background-position: 50%;
	background-size: 7rem;
  background-attachment: fixed;


}

.buttonContainer {
	margin: auto;
	text-align: center;
}

#resetGame, 
#changeSide,
#closeSession,
#login {
	display: inline-block;
  padding: 8px 15px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 3px;
  font-size: 1.1rem;
  background-color: #f0f0f0;
  margin: 0px 5px;
}

#resetGame:hover,
#changeSide:hover,
#closeSession:hover,
#login:hover {
	cursor: pointer;
	background-color: #f9f9f9;
}

#resetGame:active,
#changeSide:active,
#closeSession:active,
#login:active {
	background-color: #f0f0f0;
}

#login {
	position: absolute;
	top: 50%;
	left: 50%;
}

#chessboard tr:nth-child(even) td:nth-child(odd),
#chessboard tr:nth-child(odd) td:nth-child(even) {
  background-color: #ffffff;
}

#chessboard tr:nth-child(even) td:nth-child(even),
#chessboard tr:nth-child(odd) td:nth-child(odd) {
  background-color: #B2E4FC;
}


#chessboard td {
	border: 1px solid #b7baba;
}

#chessboard{
	border: 3px solid black;
	margin: 0rem auto .5rem auto;
}

#container{
	z-index: 2;
}

.king {
	box-shadow: inset 0 0 0 8px rgba(0,0,0,0.5);
}

.highlight-hover span, 
.move-possible span{
	cursor: pointer !important;
	background-color: #cccccc !important;
}

.move-possible span:active {
	background-color: #999999 !important;	
}

.move-selected span {
	border: 3px solid black;
}

span.piece{
	border-radius: 50%;
	margin: .4rem;
	width: 3.5rem;
  height: 3.5rem;
  display: block;

/*    box-shadow: 26px 10px 5px 0px rgba(0,0,0,0.75); */
}

.black{
	border: 2px solid #808080;
	background-color: #77bb77;
	/*box-shadow: 0 0 2px 1px #5b5756;*/
}

.white{
	border: 2px solid #808080;
	background-color: #ff6666;
	/*box-shadow: 0 0 2px 1px #5b5756;*/
}

.can_move{
	cursor: pointer;
	border: 2px solid black;
	/*box-shadow: inset 0 0 0px 5px rgba(0,0,0,0.5);*/
}

.empty{
	/*background-color: #555555;*/
	/*box-shadow: 0 0 2px 1px #5b5756;*/
}



#user_id {
	padding: 1em;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 500;
	color: #3b3b3b;
}




